@font-face {
    font-family: "Krona One";
    src: url(../fonts/Krona_One/KronaOne-Regular.ttf);
}

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}


