// Abstracts
@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/font-face";

// Base
@use "base/reset";
@use "base/base";

// Pages
@use "pages/home";

// Layout
@use "layout/header";
@use "layout/footer";
@use "layout/carrousel";
@use "layout/responsive";
