footer {
    background-color: black;
    border-top: 1px solid white;
    text-align: center;
    

    p {
        color: white;
        margin: 0;
        padding: 2rem;
        font-family: "Manrope", sans-serif;
    }
}