@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixin;

header {
    position: absolute;
    z-index: 2000;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: "Krona One", sans-serif;

    nav {
        max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        padding-inline: 20px;
        
        .nav-ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            padding: 0;
            gap: 3rem;

            .nav-li {
                &:nth-child(1) {
                    margin-right: auto;
                }
                img {
                    height: 60px;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    #fixed-icon {
        position: fixed;
        right: 40px;
        top: 25px;
        z-index: 99999;
    }

    #slide-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 1000;

        transform: translateY(-200%);
        transition: transform 0.3s ease;
        pointer-events: none;

        &.open {
            transform: translateY(0);
            pointer-events: auto;
        }

        .slide-ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            gap: 1rem;
            border-bottom: 1px solid white;
            padding-bottom: 1rem;

            .slide-li {
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    #nav-icon {
        display: none;
        width: 40px;
        height: 45px;
        position: relative;
        margin: 20px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;

        &:hover{
            span:nth-child(2) {
                right: -8px;
            }
        }

        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: white;
            opacity: 1;
            right: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
                transform-origin: left center;
            }
            &:nth-child(2) {
                top: 12px;
                transform-origin: left center;
            }
            &:nth-child(3) {
                top: 24px;
                transform-origin: left center;
            }
        }
    }
}