@use "../abstracts/variables" as variable;

$breakpoint-tablette: 768px;
$breakpoint-mobile: 450px;

@media screen and (max-width: $breakpoint-tablette) {
  
  // --- Header & Navigation ---
  header {
    .nav-ul {
      .nav-li:not(:first-child) {
        display: none;
      }
    }
  }

  #nav-icon {
    display: block !important;
  }

  // --- Main Content ---
  main {
    .contact-container {
      flex-direction: column;

      .info-container {
        margin-left: 0 !important;
        margin-top: variable.$spacing-m !important;
      }
    }

    // Typographie responsive
    h1 {
      font-size: 30px !important;
    }

    h2 {
      font-size: 20px !important;
    }
  }

  // --- Projects Showcase ---
  .projects-showcase {
    height: 500px !important;
  }

  .project-node {
    width: 300px !important;
    height: 450px !important;

    // États des cards adjacentes
    &.prev {
      transform: translateX(-50%) translateZ(-150px) rotateY(30deg) !important;
      scale: 0;
    }

    &.next {
      transform: translateX(50%) translateZ(-150px) rotateY(-30deg) !important;
      scale: 0;
    }
  }

  // Boutons de navigation
  #prev-btn {
    left: 5px !important;
  }

  #next-btn {
    right: 5px !important;
  }

  // --- Modal ---
  .modal-image-container {
    height: 200px !important;
  }

  .modal-title {
    font-size: 1.5rem !important;
  }
}


// ============================================
// SMALL MOBILE (≤ 450px)
// ============================================
@media screen and (max-width: $breakpoint-mobile) {
  
  // --- Projects Showcase ---
  .projects-showcase {
    height: 400px !important;
  }

  .project-node {
    width: 250px !important;
    height: 400px !important;
  }

  // Timeline UI
  .projects-timeline-btn {
    top: 110% !important;
  }

  .projects-timeline-indicator {
    display: none;
  }

  // --- Modal ---
  .modal-image-container {
    height: 200px !important;
  }

  .modal-image-button {
    padding: 5px 8px !important;
    font-size: 0.8rem !important;
  }

  .modal-title {
    font-size: 1.2rem !important;
  }
}
