@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixin;


body {
    main {
        #hero {
            position: relative;
            height: 100vh;

            video {
                position: absolute;
                z-index: -10;
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
                filter: brightness(40%);
            }

            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;
                height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                h1 {
                    margin: 0;
                    color: white;
                    font-size: 60px;
                    font-family: "Krona One", sans-serif;
                    margin-bottom: 1rem;
                }

                h2 {
                    margin: 0;
                    color: white;
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                    font-weight: 100;
                    opacity: 80%;
                    margin-bottom: 0.5rem;
                }

                p {
                    color: white;
                    font-size: 16px;
                    line-height: 2rem;
                    max-width: 560px;
                    font-family: "Manrope", sans-serif;
                    margin-bottom: 2rem;
                }
                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    border: 1px solid white;
                    border-top: 4px solid white;
                    padding: 0px 25px 14px 25px;
                    font-family: "Krona One", sans-serif;
                    transition: background-color 0.3s ease, color 0.3s ease;
                    
                    svg {
                        position: relative;
                        bottom: -10px;
                    }

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            } 
        }

        #portfolio {
            position: relative;
            background-color: white;
            margin-bottom: 10rem;

            &::after {
                content: '';
                position: absolute;
                z-index: 5;
                height: 50px;
                width: 100%;
                top: -49px;
                left: 0;
                background-color: white;
                clip-path: polygon(30% 0, 0% 100%, 100% 100%);
            }
            
            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 5rem;

                h2 {
                    padding-top: 5rem;
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                }


                .card-wrapper {
                    max-width: 1100px;
                    margin: 0 auto 35px;
                    padding: 20px 10px;
                    overflow: hidden;

                    .card-list {
                        list-style-type: none;

                        .card-item {

                            .card {
                                position: relative;
                                outline: 2px solid transparent;
                                box-shadow: 0px 0px 10px 10px rgb(0,0,0,0.1);
                                border-radius: 24px;
                                background-color: white;
                                padding: 20px;
                                max-width: 400px;
                                user-select: none;
                                padding-bottom: 5rem;
                                transition: 0.3s ease;
                                scale: 1;
                                height: 85%;

                                &:hover {
                                    outline-color: black;
                                    scale: 1.01;
                                }

                                .card-img {
                                    border-radius: 24px;
                                    overflow: hidden;
                                    height: 250px;
                                    width: 100%;
                                    margin-bottom: 20px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                    }

                                }

                                .card-content {
                                    h3 {
                                        font-family: "Krona One", sans-serif;
                                        margin: 0;
                                    }
                                    p {
                                        font-family: "Manrope", sans-serif;
                                        max-width: 80%;
                                        margin: 2rem 0rem;
                                    }
                                }

                                .card-link {
                                    position: absolute;
                                    bottom: 1.5rem;
                                    left: 50%;
                                    transform: translate(-50%);
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    gap: 2rem;
                                    

                                    a {
                                        font-family: "Manrope", sans-serif;
                                        text-decoration: none;
                                        display: inline-block;
                                        color: gray;
                                        font-size: 20px;

                                        svg {
                                            position: relative;
                                            top: 8px;
                                        }
                                    }
                                }
                            }
                        }
                        .swiper-slide {
                            margin-bottom: 3rem;
                            height: auto;
                        }
                    }

                    .swiper-pagination-bullet {
                        height: 13px;
                        width: 13px;
                        opacity: 0.5;
                        background: black;
                    }

                    .swiper-pagination-bullet-active {
                        opacity: 1;
                    }
                    .swiper-slide-button {
                        color: black;
                    }
                }
            }  
        }

        #competence {
            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;

                h2 {
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                    margin-bottom: 5rem;
                }
                .slider {
                    width: 100%;
                    height:var(--height);
                    overflow: hidden;
                    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
                    margin-bottom: 12rem;

                    &:hover {
                        .slider-item {
                            animation-play-state: paused!important;
                            filter: grayscale(1);
                        }
                    }

                    .slider-list {
                        position: relative;
                        display: flex;
                        list-style-type: none;
                        padding-left: 0;
                        width: 100%;
                        min-width: calc(var(--width) * var(--quantity));


                        .slider-item {
                            width: var(--width);
                            height: var(--height);
                            position: absolute;
                            top: -10px;
                            left: 100%;
                            animation: autoRun 12s linear infinite;
                            animation-delay: calc( (12s / var(--quantity) * (var(--position) - 1)));
                            
                            &:hover {
                                filter: grayscale(0);
                            }

                            svg {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #contact {
            position: relative;
            background-color: black;
            padding-bottom: 20rem;

            &::after {
                content: '';
                position: absolute;
                z-index: 5;
                height: 50px;
                width: 100%;
                top: -49px;
                left: 0;
                background-color: black;
                clip-path: polygon(70% 0, 0% 100%, 100% 100%);
            }
            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;

                h2 {
                    color: white;
                    padding-top: 7rem;
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                    margin-bottom: 5rem;
                }
                .contact-container {
                    display: flex;

                    form {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        background: white;
                        border-radius: 24px;
                        padding: 50px;

                        input:not([type="submit"]) {
                            padding: 1rem;
                            appearance: none;
                            border: none;
                            border-bottom: 1px solid gray;
                            font-family: "Manrope", sans-serif;

                            &:focus {
                                outline: none;
                            }
                        }

                        input:is([type="submit"]) {
                            align-self: center;
                            appearance: none;
                            background-color: white;
                            border: none;
                            color: black;
                            border: 1px solid black;
                            border-top: 4px solid black;
                            font-family: "Krona One", sans-serif;
                            padding: 14px 25px;
                            transition: background-color 0.3s ease, color 0.3s ease;  

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }

                        textarea {
                            margin-block: 2rem;
                            appearance: none;
                            padding: 1rem;
                            resize: none;
                            height: 10rem;
                            font-family: "Manrope", sans-serif;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                
                .info-container {
                    margin-left: 5rem;
                    flex: 0.4;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .line {
                        background-color: white;
                        height: 2rem;
                        width: 1px;
                    }

                    p {
                        font-family: "Krona One", sans-serif;
                        color: white;
                    }
                }
                }
            }
        }
    }
}

@keyframes autoRun {
    from {
        left: 100%;
    } to {
        left: calc(var(--width)* -1);
    }
    
}