@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixin;


body {
    main {
        // --- Section #hero (Héros Vidéo) ---
        #hero {
            position: relative;
            height: 100vh;

            video {
                position: absolute;
                z-index: -10;
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
                filter: brightness(40%);
            }

            .container {
                @include mixin.container; // Utilisation du mixin
                height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                h1 {
                    margin: 0;
                    color: variable.$color-secondary;
                    font-size: variable.$font-size-h1;
                    font-family: variable.$font-family-title;
                    margin-bottom: variable.$spacing-xs;
                }

                h2 {
                    margin: 0;
                    color: variable.$color-secondary;
                    font-size: variable.$font-size-h2;
                    font-family: variable.$font-family-title;
                    font-weight: 100;
                    opacity: 80%;
                    margin-bottom: variable.$spacing-xxs;
                }

                p {
                    color: variable.$color-secondary;
                    font-size: variable.$font-size-p;
                    line-height: variable.$spacing-s;
                    max-width: 560px;
                    font-family: variable.$font-family-body;
                    margin-bottom: variable.$spacing-s;
                }

                a {
                    @include mixin.button-style($bg-color: variable.$color-primary, $text-color: variable.$color-secondary);
                    
                    svg {
                        position: relative;
                        bottom: -10px;
                    }

                    // Le :hover est inclus dans le mixin, sauf si vous voulez l'écraser.
                }
            }
        }

        // --- Section #competence (Slider de Compétences) ---
        #competence {
            padding-bottom: variable.$spacing-xl; // Utilisation de variable.$spacing-xl
            .container {
                @include mixin.container; // Utilisation du mixin

                h2 {
                    font-size: variable.$font-size-h2;
                    font-family: variable.$font-family-title;
                    margin-bottom: variable.$spacing-m;
                }
                .slider {
                    width: 100%;
                    height:var(--height); // Maintenir les variables CSS pour la dynamique
                    overflow: hidden;
                    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

                    &:hover {
                        .slider-item {
                            animation-play-state: paused!important;
                            filter: grayscale(1);
                        }
                    }

                    .slider-list {
                        position: relative;
                        display: flex;
                        list-style-type: none;
                        padding-left: 0;
                        // Ne pas modifier les variables CSS ici, les garder pour la logique du slider
                        width: 100%;
                        min-width: calc(var(--width) * var(--quantity));


                        .slider-item {
                            width: var(--width);
                            height: var(--height);
                            position: absolute;
                            left: 100%;
                            animation: autoRun variable.$slider-animation-duration linear infinite; // Utilisation de variable.$slider-animation-duration
                            animation-delay: calc( (variable.$slider-animation-duration / var(--quantity) * (var(--position) - 1))); // Utilisation de variable.$slider-animation-duration
                            
                            &:hover {
                                filter: grayscale(0);
                            }

                            svg {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        // --- Section #contact (Contact) ---
        #contact {
            position: relative;
            background-color: variable.$color-primary;
            padding-bottom: variable.$spacing-xxl; // Utilisation de variable.$spacing-xxl

            &::after {
                content: '';
                position: absolute;
                z-index: 5;
                height: 50px;
                width: 100%;
                top: -49px;
                left: 0;
                background-color: variable.$color-primary;
                // Le clip-path reste un ajustement géométrique spécifique
                clip-path: polygon(70% 0, 0% 100%, 100% 100%);
            }

            .container {
                @include mixin.container; // Utilisation du mixin

                h2 {
                    color: variable.$color-secondary;
                    padding-top: variable.$spacing-l; // Utilisation de variable.$spacing-l
                    font-size: variable.$font-size-h2;
                    font-family: variable.$font-family-title;
                    margin-bottom: variable.$spacing-m;
                }

                .contact-container {
                    display: flex;

                    form {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        background: variable.$color-primary;
                        border: 1px solid variable.$color-secondary;
                        border-top: 4px solid variable.$color-secondary;
                        
                        padding: 50px; // Peut être remplacé par une variable si besoin

                        input:not([type="submit"]) {
                            padding: variable.$spacing-xs;
                            appearance: none;
                            border: none;
                            background: variable.$color-primary;
                            border-bottom: 1px solid variable.$color-secondary;
                            font-family: variable.$font-family-body;
                            color: variable.$color-secondary;

                            &:focus {
                                outline: none;
                            }
                        }

                        input:is([type="submit"]) {
                            align-self: center;
                            appearance: none;
                            background-color: variable.$color-primary;
                            border: none;
                            color: variable.$color-secondary;
                            @include mixin.button-style($bg-color: variable.$color-primary, $text-color: variable.$color-secondary);
                            // Remplacement des styles de bouton par le mixin
                            padding: 14px 25px; // Ajustement du padding pour correspondre au mixin (peut être déplacé dans le mixin)
                        }

                        textarea {
                            background-color: variable.$color-primary;
                            border-color: variable.$color-secondary;
                            color: variable.$color-secondary;
                            margin-block: variable.$spacing-s; // Utilisation de variable.$spacing-s
                            appearance: none;
                            padding: variable.$spacing-xs;
                            resize: none;
                            height: 10rem;
                            font-family: variable.$font-family-body;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                    
                    .info-container {
                        margin-left: variable.$spacing-m; // Utilisation de variable.$spacing-m
                        flex: 0.4;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .line {
                            margin-block: variable.$spacing-xs;
                            background-color: variable.$color-secondary;
                            height: variable.$spacing-s;
                            width: 1px;
                        }

                        p {
                            font-family: variable.$font-family-title;
                            color: variable.$color-secondary;
                            margin-bottom: variable.$spacing-xs;
                        }
                    }

                    .thanks {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: variable.$color-modal-overlay;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: variable.$z-index-overlay;
                        opacity: 0;
                        visibility: hidden;
                        transition: all variable.$transition-default;

                        &.active {
                            opacity: 1;
                            visibility: visible;

                            .thanks-content {
                                transform: scale(1);
                            }
                        }

                        .thanks-content {
                            width: 90%;
                            max-width: 600px; // Variable si réutilisé
                            max-height: 90vh; // Variable si réutilisé
                            background-color: variable.$color-white;
                            overflow-y: auto;
                            position: relative;
                            transform: scale(1);
                            transition: transform variable.$transition-default;
                            border-radius: 36px;
                            padding: 20px;
                            display: flex;
                            justify-content: space-between;


                            p {
                                font-size: variable.$font-size-h2;

                            }
                            
                            .thanks-close {
                                position: absolute;
                                top: 50%; 
                                transform: translate(0, -50%);
                                right: 15px;
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                background: rgba(0,0,0,0.5); 
                                border: none;
                                color: variable.$color-white;
                                cursor: pointer;
                                z-index: 30; 
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

// L'animation reste en dehors du bloc body pour être globale
@keyframes autoRun {
    from {
        left: 100%;
    } to {
        left: calc(var(--width)* -1);
    }
}