@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixin;


body {
    main {
        #hero {
            position: relative;
            height: 100vh;

            video {
                position: absolute;
                z-index: -10;
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
                filter: brightness(40%);
            }

            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;
                height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                h1 {
                    margin: 0;
                    color: white;
                    font-size: 60px;
                    font-family: "Krona One", sans-serif;
                    margin-bottom: 1rem;
                }

                h2 {
                    margin: 0;
                    color: white;
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                    font-weight: 100;
                    opacity: 80%;
                    margin-bottom: 0.5rem;
                }

                p {
                    color: white;
                    font-size: 16px;
                    line-height: 2rem;
                    max-width: 560px;
                    font-family: "Manrope", sans-serif;
                    margin-bottom: 2rem;
                }
                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    border: 1px solid white;
                    border-top: 4px solid white;
                    padding: 0px 25px 14px 25px;
                    font-family: "Krona One", sans-serif;
                    transition: background-color 0.3s ease, color 0.3s ease;
                    
                    svg {
                        position: relative;
                        bottom: -10px;
                    }

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            } 
        }

        #competence {
            padding-bottom: 12rem;
            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;

                h2 {
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                    margin-bottom: 5rem;
                }
                .slider {
                    width: 100%;
                    height:var(--height);
                    overflow: hidden;
                    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

                    &:hover {
                        .slider-item {
                            animation-play-state: paused!important;
                            filter: grayscale(1);
                        }
                    }

                    .slider-list {
                        position: relative;
                        display: flex;
                        list-style-type: none;
                        padding-left: 0;
                        width: 100%;
                        min-width: calc(var(--width) * var(--quantity));


                        .slider-item {
                            width: var(--width);
                            height: var(--height);
                            position: absolute;
                            left: 100%;
                            animation: autoRun 12s linear infinite;
                            animation-delay: calc( (12s / var(--quantity) * (var(--position) - 1)));
                            
                            &:hover {
                                filter: grayscale(0);
                            }

                            svg {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #contact {
            position: relative;
            background-color: black;
            padding-bottom: 20rem;

            &::after {
                content: '';
                position: absolute;
                z-index: 5;
                height: 50px;
                width: 100%;
                top: -49px;
                left: 0;
                background-color: black;
                clip-path: polygon(70% 0, 0% 100%, 100% 100%);
            }
            .container {
                max-width: 1250px;
                margin: 0 auto;
                padding-inline: 20px;

                h2 {
                    color: white;
                    padding-top: 7rem;
                    font-size: 32px;
                    font-family: "Krona One", sans-serif;
                    margin-bottom: 5rem;
                }
                .contact-container {
                    display: flex;

                    form {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        background: black;
                        border: 1px solid white;
                        border-top: 4px solid white;
                        
                        padding: 50px;

                        input:not([type="submit"]) {
                            padding: 1rem;
                            appearance: none;
                            border: none;
                            background: black;
                            border-bottom: 1px solid white;
                            font-family: "Manrope", sans-serif;
                            color: white;

                            &:focus {
                                outline: none;
                            }
                        }

                        input:is([type="submit"]) {
                            align-self: center;
                            appearance: none;
                            background-color: black;
                            border: none;
                            color: white;
                            border: 1px solid white;
                            border-top: 4px solid white;
                            font-family: "Krona One", sans-serif;
                            padding: 14px 25px;
                            transition: background-color 0.3s ease, color 0.3s ease;  

                            &:hover {
                                background-color: white;
                                color: black;
                            }
                        }

                        textarea {
                            background-color: black;
                            border-color: white;
                            color: white;
                            margin-block: 2rem;
                            appearance: none;
                            padding: 1rem;
                            resize: none;
                            height: 10rem;
                            font-family: "Manrope", sans-serif;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                
                .info-container {
                    margin-left: 5rem;
                    flex: 0.4;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .line {
                        margin-block: 1rem;
                        background-color: white;
                        height: 2rem;
                        width: 1px;
                    }

                    p {
                        font-family: "Krona One", sans-serif;
                        color: white;
                        margin-bottom: 1rem;
                    }
                }
                }
            }
        }
    }
}

@keyframes autoRun {
    from {
        left: 100%;
    } to {
        left: calc(var(--width)* -1);
    }
    
}